# ป้องกันไม่ให้ Git ยุ่งกับไฟล์ฐานข้อมูล MySQL
Backend/config/databases/mysql-data/

# ป้องกันไม่ให้ Git ยุ่งกับไฟล์รูปลูกค้า
Backend/uploads/

# ป้องกันรหัสผ่านหลุด (สำคัญมาก!)
Backend/.env

# ป้องกันโฟลเดอร์ไลบรารีที่หนักมากๆ
Backend/node_modules/