* {
  /* Custom scrollbar for chat list */
  &::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #f5f5f5;
    /* background-color: transparent; */
    border-radius: 8px;
    border: 2px solid transparent;
    background-clip: padding-box;
  }
}

.allChat {
  height: calc(100vh - 45px);
  background-color: white;
  border-radius: 20px;
  padding: 40px;
}

.custom-search{
    background: white;
    padding-left: 20px;
    border-color: #c5c5c5;
}

.custom-search:focus {
  outline: none;
  box-shadow: none;
  border-right: 1px solid #c5c5c5;
  border-bottom: 1px solid #c5c5c5;
  border-top: 1px solid #c5c5c5;
}

.user-avatar {
  width: 70px; /* ปรับขนาดตาม style inline ใน UserCard */
  min-height: 70px;
  object-fit: cover;
}

/* สร้างเส้นประสีเทาอ่อนแทนสีชมพู */
.border-dashed-light-gray {
  border: 2px dashed #d3d3d3 !important; /* สีเทาอ่อน (Light Gray) */
  background-color: transparent; /* พื้นหลังโปร่งใส */
}

/* ปรับระยะห่างสำหรับ UserCard */
.user-card {
  background-color: white;
}
