/* App.css หรือ index.css */

/* เปลี่ยนสีพื้นหลังตอนกดเปิด (Checked) */
.form-check-input:checked {
    background-color: #f89501 !important; 
    border-color: #f89501 !important;
}

/* (Optional) เปลี่ยนสีเงาเวลาคลิก (Focus) */
.form-check-input:focus {
    border-color: #f89501 !important;
    box-shadow: 0 0 0 0.25rem (40, 167, 69, 0.25) !important;
}