* {
  /* Custom scrollbar for chat list */
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #f5f5f5;
    /* background-color: transparent; */
    border-radius: 8px;
    border: 2px solid transparent;
    background-clip: padding-box;
  }
}

.inbox-container {
  height: 100vh;
  width: 100%;
  display: flex;
  gap: 1rem;
}

.customer-list{
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

.chat-section{
  flex: 2;
  display: flex;
  flex-direction: column;
}

/* Return Custom Bottom  */
.btn-sm-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 0px;
  background-color: white;
}

.btn-sm-circle:hover {
  background-color: rgb(242, 102, 35, 0.8) !important;
  color: white;
}

.custom-search-input {
  background-color: white;
  border: 1px solid #c5c5c5;
  padding: 8px 15px;
}

.custom-search-input:focus {
  box-shadow: none !important;
  outline: none !important;

  border-color: #f26623 !important;
}

.custom-edit-name{
  font-size: 18px;
  text-align: center;
}

.custom-edit-name:focus{
  box-shadow: none !important;
  outline: none !important;
  border-color: #c5c5c5;
}

.custom-text-input {
  border: none;
  background-color: #f5f5f5;
}

.custom-text-input:focus {
  box-shadow: none !important;
  outline: none !important;
  background-color: #f5f5f5;
}

.custom-icon-sort {
  background-color: white;
  align-items: center;
  border: 1px solid #c5c5c5;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.custom-icon-sort:hover {
  background-color: #fff2ec !important;
  border-color: #f26623 !important;
  color: #f26623 !important;
}

.list {
  overflow: scroll;
}

.custom-top-chat {
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #c5c5c5;
}

.custom-badge-top {
  padding: 10px 15px;
  align-content: center;
  font-weight: normal;
}

.custom-bottom-chat {
  background-color: #f5f5f5;
  border: 1px solid #c5c5c5;
  border-radius: 25px;
}

.message {
  width: fit-content;
  max-width: 70%;
  display: flex;
  gap: 15px;
  padding-top: 20px;

  &.own {
    align-self: flex-end;

    .texts {
      p {
        background-color: #efb4aa;
      }
    }
  }

  img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
  }

  .texts {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;

    img {
      width: 100%;
      height: 300px;
      border-radius: 10px;
      object-fit: cover;
    }

    p {
      padding: 20px;
      background-color: #d9d9d9;
      border-radius: 10px;
    }

    span {
      font-size: 13px;
    }
  }
}