/* ===== Sidebar Container ===== */
.sidebar-container {
  width: 80px;
  height: 960px;
  margin-left: 20px;
  margin-top: 20px;
  background-color: #fff;
  border-radius: 15px;
  border-right: 1px solid #e0e0e0;
  display: flex;
  flex-direction: column;
  padding: 20px 0;
}


/* ===== Logo Section ===== */
.top-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-box {
  width: 100%;
  height: auto;
  max-width: 35px;
  max-height: 35px;
  object-fit: cover;
}
/* ===== Middle Section: Menu + Profile  ===== */
.middle-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* พื้นที่ตรงกลาง */
  flex-grow: 1;
  /* จัดเมนู+โปรไฟล์ให้อยู่กลางแนวตั้ง */
  justify-content: center;
  
}
/* ===== Menu Item  ===== */
.menu-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 15px 0;
  margin-bottom: 8px;
  border-radius: 8px;
  color: #000 !important;
  position: relative;
}

.menu-pic {
  width: 35px;
  height: 35px;
  object-fit: contain;
}

.menu-text {
  position: absolute;
  left: 70px;
  background-color: white;
  font-size: 16px;
  font-weight: 400;
  padding: 5px 10px;
  border-radius: 5px;
  white-space: nowrap;
  opacity: 0;
  transform: translateX(10px);
  transition: opacity 0.2s ease, transform 0.3s ease;
  pointer-events: none;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);

}

.menu-item:hover {
  color: #f26623 !important;
}

.menu-item.active {
  background-color: #fff3ec;
  color: #f26623 !important;
  font-weight: 600;
  border: 2px solid #f26623;
  width: 50px;
  box-sizing: border-box;
}

.menu-item:hover .menu-text {
  opacity: 1;
  transform: translateX(0);
}
/* ===== Profile ===== */
.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

/* ===== Bottom Section ===== */
.bottom-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  /* ดันไปด้านล่างสุด */
  margin-top: auto;
  
}

/* ===== Dropup Menu ===== */
.menu-btn {
  background: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* ซ่อนลูกศร bootstrap */
.dropdown-toggle::after {
  display: none !important;
}



