/* ===== Sidebar Container ===== */
.sidebar-container {
  width: 220px;
  height: 100vh;
  background-color: #ffffff;
  border-right: 1px solid #e0e0e0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: width 0.25s ease;
  padding: 20px;
  position: relative;
}

.sidebar-container.collapsed {
  width: 70px;
}

/* ===== Logo Section ===== */
.logo-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-box {
  width: 35px;
  height: 35px;
  background-color: #f26623;
  border-radius: 8px;
  margin-bottom: 10px;
  max-width: 35px;
  flex-shrink: 0;
}

.logo-text {
  font-weight: 700;
  color: #f26623;
  font-size: 18px;
}

/* ===== Toggle Button ===== */
.toggle-btn {
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid #ddd;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  align-self: center;
  transition: all 0.25s ease;
}

/* ===== Menu Items ===== */
.menu-item {
  color: #000 !important;
  font-weight: 500;
  padding: 10px 15px;
  border-radius: 8px;
  margin-bottom: 8px;
  transition: 0.2s;
}

.menu-item:hover {
  background-color: #fff3ec;
  color: #f26623 !important;
}

.menu-item.active {
  background-color: #fff3ec;
  color: #f26623 !important;
  font-weight: 600;
}

/* ===== Profile Section ===== */
.profile {
  display: flex;
  align-items: center;
  gap: 10px;
}

.profile-pic {
  width: 35px;
  height: 35px;
  background-color: #000;
  border-radius: 50%;
}

/* ซ่อนข้อความตอนย่อ*/
.sidebar-container.collapsed .logo-text,
.sidebar-container.collapsed .menu-text,
.sidebar-container.collapsed .profile-info {
  display: none;
}

/* ===== Bottom Section ===== */
.bottom-section {
  border-top: 1px solid #eee;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}